.container-for-user-info
  = render partial: "/shared/flash_messages", flash: flash

  %h3 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.text_field :email, :autofocus => true
    .field
      = f.label :password
      = f.password_field :password

    %br
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        .inline-block= f.label :remember_me
    %br
    %p
      %button.btn.btn-primary{:type => "submit"} Sign In

  = render "devise/shared/links"

:css
  .inline-block{ display: inline-block;}

