.container_for_posts
  %h3 New Post

  = form_for @post, url: { :action => 'create', :controller => 'posts' } do |f|
    / = render partial: 'form', locals: { :f => f }
    %table
      %tr
        %td{:colspan => "2"}
          %h3= @topic.title
      %tr
        %td{:valign => "top"}
          .author_avatar= image_tag current_user.avatar.url(:size_150_by_150).to_s

        %td
          .field
            = f.text_area :content, :placeholder => 'write some content'

          .field
            = f.label :photo
            = f.file_field :photo, :onchange => 'readPhoto(this);'

          %br
          = image_tag '1x1t.gif', :id => 'post_photo_preview'

          %br
          %br
          %p
            %button.btn.btn-primary{:type => "submit"} Post

