!!!
%html
  %head
    %title photo_omni
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    = render '/shared/nav_bar'
    = yield
    = render '/shared/footer'

    / feedback tab from http://getbarometer.com/
    %script{:src => "http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :type => "text/javascript"} BAROMETER.load('5rwy4ABWrNtwCk1SneTsb');
